

<h2>Danh sách cá</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Loại</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
